<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <style>
        p {
            background-image: url('bg.jpg');
        }
    </style>
    <img src="../../logo.png" width="400px" height="auto" />
    <h1>Enter PIN to Access</h1>
    <form action="/login" method="post">
        <input type="password" id="pin" name="pin" placeholder="Enter Your Pin" required><br/>
        <div style="display: inline-block; position: relative;">
            <button type="submit" class="btn" name="event" value="exit">Login</button>
            <img src="../../Arrow.png" class="arrow"/>
        </div>
    </form>
    <a href="/">Back</a>
</body>
</html>
